<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="head">

<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light navbar-dashboard">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
        <a href="index.html" class="b-brand">
            <img style="width: 60px;" src="/static/images/SSP.ico" />
            <span class="b-title" th:text="#{sys_site_main_title}"></span>
        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="#!">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="card collapse navbar-collapse " style="margin: 20px 30px;">
        <div class="col-md-12 row">
            <div class="col-md-6 p-0">
                <ul class="navbar-nav mr-auto">
                    <li>
                            <span class="pcoded-micon"><i class="fa fa-home"></i></span>&nbsp;/&nbsp;
                            <span class="pcoded-mtext" th:text="#{sys_menu.dashboard}"> </span>
                        <span th:if="${board_text!=null}">&nbsp;/&nbsp; <span class="pcoded-mtext" th:text="#{${board_text}}"></span> </span>
                        <span th:if="${board_text_sub!=null}">&nbsp;/&nbsp; <span class="pcoded-mtext" th:text="#{${board_text_sub}}"></span> </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 pr-0">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color: #0ba1b5">
                                <sub style="font-size: 180%;"><i class="icon feather icon-bell"></i></sub>
                                <sup style="font-size: 100%"><span class="badge badge-warning badge-notification" id="new-notification-count">0</span></sup>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right notification">
                                <div class="noti-head">
                                    <h6 class="d-inline-block m-b-0" th:text="#{sys_notifications}"></h6>
                                </div>
                                <ul class="noti-body" id="noti-body">

                                </ul>
                                <div class="noti-footer">
                                    <!--                            <a href="/sys/notification/list" th:text="#{sys_notification.showAll}"></a>-->
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--<li><a href="#!" class="displayChatbox"><i class="icon feather icon-mail"></i></a></li>-->
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color: #0ba1b5">
                                <i class="icon feather icon-globe"></i>
                                <span th:if="__${#locale}__=='uz'">O`zbekcha</span>
                                <span th:if="__${#locale}__=='oz'">Ўзбекча</span>
                                <span th:if="__${#locale}__=='ru'">Русский</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right notification" style="width: 200px;min-width: 200px;">
                                <ul class="noti-body">
                                    <li class="flag-image-li" onclick="switchLanguage('uz'); return false;">
                                        <div class="media">
                                            <img src="/static/images/flags/uz.svg" class="flag-image" style="width: 30px;margin-right: 10px;"> O`zbekcha
                                        </div>
                                    </li>
                                    <li class="flag-image-li" onclick="switchLanguage('oz'); return false;">
                                        <div class="media">
                                            <img src="/static/images/flags/uz.svg" class="flag-image" style="width: 30px;margin-right: 10px;"> Ўзбекча
                                        </div>
                                    </li>
                                    <li class="flag-image-li" onclick="switchLanguage('ru'); return false;">
                                        <div class="media">
                                            <img src="/static/images/flags/ru.svg" class="flag-image" style="width: 30px;margin-right: 10px;"> Русский
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown drp-user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #0ba1b5">
                                <i class="icon feather icon-settings"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-notification">
                                <div class="pro-head">
                                    <img src="/static/images/avatar-2.jpg" class="img-radius" alt="User-Profile-Image">
                                    <span th:utext="${#request.userPrincipal.name}"></span>
                                    <a href="/logout" class="dud-logout" title="Logout">
                                        <i class="feather icon-log-out"></i>
                                    </a>
                                </div>
                              <!--  <input type="hidden" id="global_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                                <ul class="pro-body">
                                    <!--<li><a href="#!" class="dropdown-item"><i class="feather icon-settings"></i> <span th:text="#{my settings}"></span> </a></li>-->
                                    <li><a href="/profile" class="dropdown-item"><i class="feather icon-user"></i> <span th:text="#{my_profile}"></span> </a></li>
                                    <!--<li><a href="message.html" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>-->
                                    <li><a href="/logout" class="dropdown-item"><i class="feather icon-log-out"></i> <span th:text="#{sys_logout}"></span> </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- [ Header ] end -->

</body>
</html>