<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="bottom">

<!-- Required Js -->
<script src="/static/js/vendor-all.min.js"></script>
<script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/pcoded.js?v=3.2"></script>
<!--<script type="text/javascript" src="/static/toastr/toastr.min.js"></script>-->
<script src="/static/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/static/sweetalert/js/sweetalert.min.js" type="application/javascript" ></script>


</body>
</html>