<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Мултимедиа алока тармоклари</title>
  <link rel="icon" href="/static/images/icon/main.ico" type="image/x-icon">

  <meta name="author" content="Narzullayev Javohir">
  <link rel="stylesheet" type="text/css" href="/static/fonts/feather/feather.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap/bootstrap.min.css"/>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="/static/plugins/animation/animate.min.css">
    <link rel="stylesheet" href="/static/css/assets/css/owl.css">

  </head>

<body>

  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="/static/images/navlogo.png" style="width: 15%" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="/" class="active">Асосий</a></li>
              <li class="scroll-to-section"><a href="#science">Дарслар</a></li>
              <li class="scroll-to-section"><a href="#plan">Адабиётлар</a></li>
              <li>
                <div class="gradient-button"><a href="/login"><i class="fa fa-sign-in-alt"></i> Кириш</a></div>
              </li>
            </ul>        

            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Мультимедиали алоқа тармоқлари</h2>
                    <p>Муҳаммад ал-Хоразмий номидаги Тошкент Ахборот Технологиялари Университети</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="/static/images/login-background.jpg" style="border-radius: 12%" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="science" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Мултимедиа алока тармоклари<em> Укув дастури </em></h4>
            <img src="/static/css/assets/images/heading-line-dec.png" alt="">
            <p>Билим — қайтариш ва такрорлаш мевасидир. Абу Райҳон Беруний</p>
          </div>
        </div>
      </div>
    </div>
    <!--  fanlar-->
    <div class="container">
      <div class="row">
        <div class="col col-lg-3" th:each="science : ${sciences}">
          <a th:href="@{/index/science/{id}(id=${science.id})}">
            <div class="service-item first-service">
              <div class="icon"></div>
              <h4 th:text="${science.name.uz}"></h4>
              <p th:text="${science.description.uz}"></p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <object th:if="${teachers}" th:replace="fragments/teacher :: science" th:remove="tag"></object>
  </div>

  <div id="plan" class="plan section">
    <!--  plan techer-->
    <main th:if="${plans_teacher}" class="container pt-5">
      <div class="card mb-5">
        <div class="card-header">TEACHERS</div>
        <div class="card-block p-0">
          <table class="table table-bordered table-sm m-0">
            <thead class="">
            <tr>
              <th>#</th>
              <th>Укитувчи</th>
              <th>Фан номи</th>
              <th>Мавзу</th>
              <th>Юклаб олиш</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="plan: ${plans_teacher}">
              <td>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                </label>
              </td>
              <td th:text="${plan?.registeredBy?.fio}"></td>
              <td th:text="${plan?.science?.name?.uz}"></td>
              <td th:text="${plan?.theme}"></td>
              <td>
                <a class="btn-sm badge badge-info text-white" th:href="${'/file/download?id='+plan?.fileEntity?.uuid}"
                   data-toggle="tooltip">
                  <i class="feather icon-download"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
  <div th:if="${literatures}" id="literature" class="container pt-5 literature section">
    <!-- Table with panel -->
    <div class="card card-cascade narrower">
      <a href="" class="white-text mx-3">Адабиётлар</a>
      <div class="px-4">

        <div class="table-wrapper">
          <!--Table-->
          <table class="table table-hover mb-0">
            <!--Table head-->
            <thead>
            <tr>
              <th class="th-lg">
                <a href="">Китоб номи
                  <i class="fas fa-sort ml-1"></i>
                </a>
              </th>
              <th class="th-lg">
                <a href="">Юклаш
                  <i class="fas fa-sort ml-1"></i>
                </a>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="literature:${literatures}">
              <td th:text="${literature.bookName}"></td>
              <td>
                <a class="btn-sm badge badge-info text-white"
                   th:href="${'/file/download?id='+literature?.fileEntity?.uuid}"
                   data-toggle="tooltip">
                  <i class="feather icon-download"></i>
                </a>
              </td>
            </tr>
            </tbody>
            <!--Table body-->
          </table>
          <!--Table-->
        </div>

      </div>

    </div>
  </div>


  <!-- Scripts -->
  <script th:src="@{/static/plugins/js/jquery.min.js}"></script>
  <script src="/static/plugins/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/static/css/assets/js/owl-carousel.js"></script>
  <script src="/static/css/assets/js/animation.js"></script>
  <script src="/static/css/assets/js/imagesloaded.js"></script>
  <script src="/static/css/assets/js/popup.js"></script>
  <script src="/static/css/assets/js/custom.js"></script>
</body>
</html>