<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="top">

<meta charset="UTF-8">
<title>Learning Management System</title>
<!-- Meta -->
<meta charset="utf-8">
<meta name="description" content=""/>
<meta name="keywords" content="">
<meta name="author" content="NARZULLAYEV JAVOHIR"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Favicon icon -->
<link rel="icon" href="/static/images/icon/main.ico" type="image/x-icon">
<!-- fontawesome icon -->
<link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
<!-- animation css -->
<link rel="stylesheet" href="/static/plugins/animation/animate.min.css">
<!-- prism css -->
<link rel="stylesheet" href="/static/plugins/prism/css/prism.min.css">
<!-- vendor css -->
<link rel="stylesheet" href="/static/css/style.css?v=1.5">
<!-- bootstrap4 css -->
<link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
<!--<link rel="stylesheet" th:href="@{/static/plugins/toast/css/jquery.toast.css}"/>-->
<link rel="stylesheet" th:href="@{/static/datatables/css/datatables.min.css}" />

<script th:src="@{/static/plugins/js/jquery.min.js}"></script>


</body>
</html>