<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<body th:fragment="bottom">

<!-- Required Js -->
<script src="/static/js/vendor-all.min.js"></script>
<script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/pcoded.js?v=3.2"></script>

<script type="text/javascript" src="/static/toastr/toastr.min.js"></script>

<script type="text/javascript" src="/static/datatables/cbs.datatables.js"></script>
<script type="text/javascript" src="/static/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/static/datatables/jquery.spring-friendly.min.js"></script>

<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script src="/static/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script type="application/javascript" src="/static/sweetalert/js/sweetalert.min.js"></script>

<script src="/static/plugins/bootstrap/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<script type="text/javascript" th:inline="javascript">
    let toasterNotifications = [[${toaster_notifications}]];
    console.log(' notification : ' + toasterNotifications);
    if (!toasterNotifications)
        $.each(toasterNotifications, function (idx, elem) {
            $.toast({
                heading: elem.message,
                position: {top: 50, right: 15},
                loaderBg: '#fff',
                icon: elem.type,
                hideAfter: 3500,
                stack: 6
            });
        });
    function goBack() {
        window.history.back();
    }

    //for file download
    $(".custom-file-input").on("change", function() {
        let fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>


</body>
</html>