<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="menu">

<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menu-light brand-lightblue icon-colored menupos-static">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a th:href="@{/dashboard}" class="b-brand">
                <img style="width: 45px; height: 45px; object-fit: cover;" th:src="@{/static/images/icon/main.ico}"  alt="main-icon"/>
                <span class="b-title">Мултимедиа алока тармоклари</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item"><a th:href="@{/dashboard}" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-home-outline"></i></span><span class="pcoded-mtext" >Асосий меню </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
                    <a th:href="@{/dashboard}" class="nav-link" style="padding: 5px 15px">
                        <span class="pcoded-micon"><i class="fas fa-envelope-open"></i></span>
                        <span class="pcoded-mtext text-wrap" >Админ ойнаси </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->

</body>
</html>